<%- include('../partials/header') %>

<table class="table">
  <thead class="table">
    <tr>
      <th scope="col">Flight #</th>
      <th scope="col">Airline</th>
      <th scope="col">Departure</th>
      <th scope="col">Airport</th>
    </tr>
  </thead>
  <tbody>
      <% flights.forEach(function(f) { %>
    <tr>
     
      <td><%= f.flightNo %></td>
      <td><%= f.airline %></td>
      <% if (f.departs < Date.now()) {%>
      <td class="overdue"><%= f.departs %></td>
      <%} else {%>
      <td class="due"><%= f.departs %></td>
      <td><%= f.airport %></td>
      <% } %>
      <td><a class="btn btn-info" href="/flights/<%= f._id %>">DETAILS</a></td>
      <td><form action="/flights/<%= f. id%>/delete" method="POST">
        <input class= 'btn btn-danger' type="submit" value="Delete">
      </form> </td>
    </tr>
    <% }); %>
  </tbody>
</table>



        
<%- include('../partials/footer') %>






