<%- include('../partials/header') %>

<section>
    <div><%= flight.airline %> FLIGHT# <%= flight.flightNo %></div>
    <div>FROM - <%= flight.airport %> <%= flight.departs %></div>
</section>
<br>
<label>Select Destination</label>
<br><br>
<form method="POST" action="/flights/<%= flight._id %>/destinations"><span>Airport</span>
   
        <select name="airport">
            <option value="AUS">AUS</option>
            <option value="DAL">DAL</option>
            <option value="LAX">LAX</option>
            <option value="SEA">SEA</option>
        </select><br>
        

    <input type="datetime-local" id="departs" name="arrival"><span>Arrival Time</span>
<br>
<input type="submit" value="Add Destination">
</form>
<% if (flight.destinations.length) { %>
<table>
    <thead>
        <tr>
            <th>Arrival</th>
            <th>Airport</th>
        </tr>
    </thead>
    <tbody>
        <% flight.destinations.forEach(function(d){ %>
        <tr>
            <td> <%= d.arrival %></td>
            <td> <%= d.airport %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<% } else {%>
    <h3> Add A Destination </h3>
    <% } %>

<a href="/flights/<%= flight._id %>/tickets/new">Add Ticket</a>
<table>
    <thead>
        <tr>
            <th>Seat</th>
            <th>Price</th>
            <th>Delete Ticket</th>
        </tr>
    </thead>
    <tbody>
        <%tickets.forEach(function(t){%>
        <tr>
            <td><%= t.seat %></td>
            <td>$<%= t.price %></td>
            <td>
                    <form action="/flights/<%=flight.id%>/ticket/<%=t.id%>?_method=DELETE" method="POST">
                        <button type="submit">Delete</button>
                    </form>
            </td>
        </tr>
        <%});%>
    </tbody>
</table>






<%- include('../partials/footer') %>